<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="infragistics.web" type="System.Configuration.SingleTagSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="UPLOAD_DIR" value="C:\[ServicePath]" />
    <add key="DOWNLOAD_URL" value="http://mvp.img.storichain.io/" />
    <add key="MONGODB_URL" value="mongodb://localhost" />
    <add key="MONGODB_IMG_URL" value="mongodb://localhost" />
    <add key="MONGODB_IMAGE_DB_NAME" value="image_db_sc" />
    <add key="MONGODB_FEED_URL" value="mongodb://localhost" />
    <add key="MONGODB_FEED_DB_NAME" value="step_db_sc" />
    <add key="MONGODB_EVENT_URL" value="mongodb://localhost" />
    <add key="MONGODB_EVENT_DB_NAME" value="step_db_sc" />
    <add key="DOMAIN_URL" value="localhost:1100/" />
    <add key="WEBSITE_URL" value="http://localhost:1100/" />
    <add key="CACHE_TYPE_IDX" value="2" />
    <!--0:none,1:in memory,2:mongodb-->
    <add key="HTTPS_USE_YN" value="N" />
    <add key="EMAIL_REPEAT_SEND_YN" value="N" />
    <add key="NOTICE_YN" value="N" />
    <add key="PUSH_NOTIFICATION_YN" value="N" />
    <add key="SERVICE_CATEGORY" value="1" />
    <!--1:xx,2:xx-->
    <add key="BANNER_URL" value="http://mvp.storichain.io/pages/Banner?banner_idx=" />
    <add key="JS_VERSION" value="20180820001" />
    <add key="CSS_VERSION" value="20180820" />
    <add key="DEV_YN" value="Y" />
    
    <add key="MSG_FOLLOW" value="{0} 님이 나를 팔로우 하였습니다." />
    <add key="MSG_BOOKMARK" value="{0} 님이 내 게시물을 좋아요 하였습니다." />
    <add key="APP_STORE_URL" value="" />
    <add key="GOOGLE_PLAY_STORE_URL" value="" />   
    <add key="WEB_SITE_URL" value="http://storichain.nicejames.com" />
  </appSettings>
  <connectionStrings>
    <add name="DB_NAME" connectionString="Data Source=localhost;Initial Catalog=DB;User ID=st;Password=0000" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="sc_auth" loginUrl="/login" protection="All" timeout="43200" path="/" />
    </authentication>
    <authorization>
      <allow users="*" />
      <!--deny users="?"/-->
    </authorization>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <httpRuntime maxRequestLength="100000" maxWaitChangeNotification="10" executionTimeout="600" requestValidationMode="2.0" />
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false">
      <proxy />
      <bypasslist />
      <module />
    </defaultProxy>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  
  <!-- 페이지 -->
  
  <location path="Article/Ing">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Article/Edit">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Article/Index">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages/Logout">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  
  
    
      
        
  <location path="account_modify">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="cowork">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="cowork_detail">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="cowork_comment">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="customer_question">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="desk">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="feed">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="discover">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="growthgraph">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="logout">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="profile">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="profile_form">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="rewardpi">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="trade">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="trade_form">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="view">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="welcome">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="series_add">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="series_detail">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="series_make">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="series_owner_detail">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="series_setting">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  
  
  <location path="Step/ChangeSort">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Step/Remove">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Step/Modify">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Step/Add">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Step/Get">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>


  <location path="Event/Add">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Event/Modify">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Event/GetLists">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Event/GetList">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Event/ModifyPublishYN">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Product/SearchLists">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  
  <location path="User/Logout">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  
  
  
  
  
  
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.28.0" newVersion="2.2.28.0" />
      </dependentAssembly>-->
      <!--<dependentAssembly>
        <assemblyIdentity name="PushSharp.Core" publicKeyToken="cf74b75eab2c0170" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>-->
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
</configuration>