<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.7.0" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.7.0" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.7.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="PushSharp" version="4.0.10" targetFramework="net452" />
  <package id="RabbitMQ.Client" version="5.1.0" targetFramework="net452" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net452" />
</packages>