<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="MQ_CLIENT_NAME" value="Storichain.PushApplication" />                     <!-- MS Client명 -->
    <add key="APP_TITLE" value="Storichain Notice Push Service" />                      <!-- MS Client명 -->
    <add key="IOS_CERT_FILE_NAME" value="production.p12" />                             <!-- APNS 인증서 파일명, 실행폴더 위치에 존재함 -->
    <add key="IOS_CERT_FILE_NAME_Dev" value="dev.p12" />                                <!-- APNS 인증서 파일명, 실행폴더 위치에 존재함 -->
    <add key="IOS_CERT_FILE_PWD" value="1111" />                                        <!-- APNS 인증서 파일 패스워드 -->
    <add key="IOS_CERT_PRODUCTION_YN" value="N" />
    <add key="ANDROID_AUTH_TOKEN" value="AIzaSyDybRClqnf6zjLxhOc41KdIAo64CwAifU4" />    <!-- GCM 서버 Key -->

    <add key="RABBITMQ_QUE_NAME" value="TestQueue" />
    <add key="RABBITMQ_QUE_HOST" value="mq.storichain.com" />
    <add key="RABBITMQ_QUE_ID" value="storichain" />
    <add key="RABBITMQ_QUE_PWD" value="S#@tori!Q!!" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
